<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <H1>This is {{pet.pet_name}}</H1>
    <H3>Fun Fact:</H3>
    <H4>{{pet.pet_fact}}</H4>
    <img src="{{ pet.pet_photo }}" alt="Photo of pet"/>
    <Button><a href="/pets">Back</a></Button>
</body>
</html>